html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #cfd6dd;
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: padding-box;
}
*::-webkit-scrollbar-thumb:hover {
  background: #aeb7c0;
  background-clip: padding-box;
}
